
body {
    margin: 0;
    width: 100%;
}


/** || Header and Summary Styling **/

h1 {
    margin-top: 4vh;
    margin-bottom: 2vh;
    text-align: center;
}

#summary {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0;
    margin-bottom: 4vh;
}


/** || Functionality Bar Styling **/

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

div input, div button{
    font-size: 1.1rem;
    margin-left: 1vw;
    margin-right: 1vw;
}

span{ margin-left: 1vw;}

#top_nums {
    width: 4rem;
    margin-left: 0.5vw;
    margin-right: 2vw;
}


/** || Results Table Styling **/

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
    border-spacing: 2vh;
}

caption {
    font-size: 1.4rem;
    font-weight: bold;
}

thead {
    font-size: 1.2rem;
}

tbody {
    text-align: center;
}


/** || Error Text Styling **/

#error_text {
    margin-top: 4vh;
    font-weight: bold;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
